.header {
  margin-bottom: 1rem;

  h2 {
    margin: 0;
  }
}

.actions {
  display: flex;
  gap: .5rem;

  button {
    text-transform: uppercase;
  }
}

mat-radio-group {
  margin-top: -22px;
  display: flex;
  gap: 1rem;
}

.leave-request__wrapper {
  display: flex;
  flex-direction: column;

  .item {
    display: flex;
    gap: 1rem;
    align-items: center;

    &.is-small {
      flex-direction: column;
      gap: 0;

      .request-for {
        padding: 1rem 0;
      }
    }
  }

}