<form [formGroup]="leaveRequestForm" (ngSubmit)="submit()">
  <div class="header">
    <div>
      <h2>My Leave / Create</h2>
    </div>
    <div class="actions">
      <button
        type="button"
        mat-button
        matTooltip="Back"
        (click)="navigateToList()"
      >
        <mat-icon>arrow_back</mat-icon>
        Back
      </button>

      <ng-container
        *ngIf="
          leaveRequestForm.value.status === 'Pending' && requestId;
          else saveBtn
        "
      >
        <button
          type="button"
          mat-flat-button
          color="warn"
          matTooltip="Cancel"
          (click)="cancel()"
        >
          <mat-icon>close</mat-icon>
          Cancel
        </button>

        <button
          type="button"
          mat-flat-button
          color="warn"
          matTooltip="Reject"
          (click)="reject()"
        >
          <mat-icon>close</mat-icon>
          Reject
        </button>

        <button
          type="button"
          mat-flat-button
          color="primary"
          matTooltip="Approve"
          (click)="approve()"
        >
          <mat-icon>check_circle</mat-icon>
          Approve
        </button>
      </ng-container>

      <ng-template #saveBtn>
        <button
          *ngIf="!leaveRequestForm.get('status')?.value"
          mat-flat-button
          color="primary"
          matTooltip="Save"
        >
          <mat-icon>done</mat-icon>
          Save
        </button>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <mat-form-field class="full-width">
      <mat-label>Leave Type</mat-label>
      <mat-select
        appFocus
        placeholder="Leave Type"
        formControlName="leaveTypeId"
        (selectionChange)="selectLeaveType($event.source.value)"
      >
        <mat-option
          *ngFor="let leaveType of leaveTypes"
          [value]="leaveType.id"
          >{{ leaveType.type }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-radio-group
      class="full-width"
      aria-label="Select an option"
      formControlName="isFullDay"
    >
      <mat-radio-button
        *ngFor="let option of leaveOption"
        [value]="option.isFullDay"
        >{{ option.display }}</mat-radio-button
      >
    </mat-radio-group>
  </div>

  <div class="row">
    <mat-form-field class="full-width">
      <mat-label>From Date</mat-label>
      <input
        matInput
        formControlName="fromDate"
        placeholder="From Date"
        [matDatepicker]="fromDatePicker"
        (dateChange)="changeDate($event.value)"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="fromDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #fromDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>To Date</mat-label>
      <input
        matInput
        formControlName="toDate"
        placeholder="To Date"
        [matDatepicker]="toDatePicker"
        (dateChange)="changeDate($event.value)"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="toDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #toDatePicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="full-width">
      <mat-label>No. of Days</mat-label>
      <input
        matInput
        type="number"
        formControlName="day"
        required
        readonly
        placeholder="No. of Days"
      />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Reporting Manager</mat-label>
      <input
        matInput
        type="text"
        formControlName="reportToName"
        required
        readonly
        placeholder="Reporting Manager"
      />
    </mat-form-field>
  </div>
  <mat-form-field class="full-width">
    <mat-label>Reason</mat-label>
    <textarea
      matInput
      required
      rows="10"
      formControlName="reason"
      placeholder="Reason"
    ></textarea>
  </mat-form-field>
  <mat-form-field class="full-width" *ngIf="requestId">
    <mat-label>Comment</mat-label>
    <textarea
      matInput
      rows="5"
      formControlName="comment"
      placeholder="Comment"
    ></textarea>
  </mat-form-field>
</form>

<ng-container *ngIf="leaveSummary">
  <h1>Leave Summary</h1>
  <table class="leave-summary">
    <tbody>
      <tr>
        <td>Leave Allowance</td>
        <td>:</td>
        <td>
          <span>{{ leaveSummary.allowanceDay }}</span>
        </td>
      </tr>
      <tr>
        <td>Leave Taken</td>
        <td>:</td>
        <td>
          <span>{{ leaveSummary.usedLeave }}</span>
        </td>
      </tr>
      <tr>
        <td>Being Apply</td>
        <td>:</td>
        <td>
          <span>{{ leaveRequestForm.get("day")?.value }}</span>
        </td>
      </tr>
      <tr>
        <td>Leave Balance</td>
        <td>:</td>
        <td>
          <span>{{ leaveSummary.availableLeave | availableLeave: leaveRequestForm.get("day")?.value }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
