<div matDialogTitle>
  <h1>Reset Password</h1>
  <button
    mat-icon-button
    color="warn"
    matTooltip="Close"
    (click)="closeDialog()"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <form [formGroup]="passwordform">
    <mat-form-field class="full-width">
      <mat-label>New Password</mat-label>
      <input
        matInput
        formControlName="password"
        autocomplete="off"
        type="password"
        required
        placeholder="********"
      />
      <mat-error *ngIf="passwordform.get('password')?.hasError('required')"
        >New Password is required.</mat-error
      >
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        formControlName="confirmPassword"
        autocomplete="off"
        type="password"
        required
        placeholder="********"
      />
      <mat-error
        *ngIf="passwordform.get('confirmPassword')?.hasError('required')"
        >Confirm Password is required.</mat-error
      >
      <mat-error
        *ngIf="
          passwordform.get('confirmPassword')?.hasError('misMatch') &&
          passwordform.get('confirmPassword')?.value
        "
        >Confirm Password is not match.</mat-error
      >
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-flat-button
    color="primary"
    (click)="submit()"
    [disabled]="passwordform.invalid"
  >
    Reset
  </button>
  <button mat-button color="warn" (click)="closeDialog()">Cancel</button>
</mat-dialog-actions>
