<div class="list-header">
  <h2>Departments</h2>
  
  <div [formGroup]="searchForm" class="right">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search by Name" formControlName="search">
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      matTooltip="Add new department"
      routerLink="create"
    >
      <mat-icon class="icon-18">add</mat-icon>
    </button>
  </div>
</div>
<app-data-grid
  [columnConfig]="config"
  [rowData]="data"
  [totalRecord]="total"
  [defaultPageSize]="defaultPageSize"
  (pageChange$)="pageChange($event)"
></app-data-grid>
