<div class="header">
  <h2>{{ breadcrumb }}</h2>
  <button
    mat-flat-button
    color="primary"
    matTooltip="Add new request"
    routerLink="create"
  >
    <mat-icon class="icon-18">add</mat-icon>
  </button>
</div>

<app-leave-request-filter
  [selfLeave]="configuration?.selfLeave || 0"
  (onSearch$)="search($event)"
></app-leave-request-filter>
<app-data-grid
  [columnConfig]="config"
  [rowData]="data"
  [totalRecord]="total"
  [defaultPageSize]="defaultPageSize"
  (pageChange$)="pageChange($event)"
></app-data-grid>
