.widget {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 24px;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 4px;
    height: 100px;
    background-color: #FFFFFF;

    .left,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            color: #3F51B5;
        }

        .counter {
            font-size: 28px;
            font-weight: 300;
        }

        .link {
            width: max-content;
            font-size: 12px;

            &:hover {
                cursor: pointer;
            }
        }

        .percentage {
            display: flex;
            align-items: center;
            font-size: 18px;

            &.positive {
                color: green;
            }

            &.negative {
                color: red;
            }
        }

        .icon {
            font-size: 18px;
            padding: 5px;
            border-radius: 4px;
            align-self: flex-end;
        }
    }

    .right {
        align-items: flex-end;
    }
}

.negative {
    color: red;
}

.positive {
    color: green;
}