<div class="action">
  <button mat-button color="primary" (click)="openEducationForm()">
    <mat-icon>add</mat-icon>
    Add Education
  </button>
</div>
<table mat-table [dataSource]="education$" class="mat-elevation-z2">
  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let education; let i = index">
      {{ i + 1 }}
    </td>
  </ng-container>

  <ng-container matColumnDef="major">
    <th mat-header-cell *matHeaderCellDef>Major</th>
    <td mat-cell *matCellDef="let education">
      {{ education.major }}
    </td>
  </ng-container>

  <ng-container matColumnDef="school">
    <th mat-header-cell *matHeaderCellDef>University / College / School</th>
    <td mat-cell *matCellDef="let education">{{ education.schoolName }}</td>
  </ng-container>

  <ng-container matColumnDef="fromDate">
    <th mat-header-cell *matHeaderCellDef>From Date</th>
    <td mat-cell *matCellDef="let education">
      {{ education.fromDate | dateFormat }}
    </td>
  </ng-container>

  <ng-container matColumnDef="toDate">
    <th mat-header-cell *matHeaderCellDef>To Date</th>
    <td mat-cell *matCellDef="let education">
      {{ education.toDate | dateFormat }}
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Decription</th>
    <td mat-cell *matCellDef="let education">
      {{ education.description }}
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let education">
      <button
        mat-icon-button
        matTooltip="Edit"
        (click)="openEducationForm(education)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        matTooltip="Delete"
        (click)="delete(education.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
