.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000;
}

mat-toolbar {
  height: 56px;
}

.header-top {
  display: flex;
  justify-content: space-between;

  .branding {
    display: flex;
    align-items: center;

    .mat-icon-button {
      margin-left: -10px;
    }
  }

  .right {
    display: flex;
    gap: 1rem;
    align-items: center;

    mat-icon {
      cursor: pointer;
    }

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      object-fit: cover;
    }
  }
}

.notification-wrapper {
  width: 300px;
}

.notification-toolbar {
  display: flex;
  justify-content: space-between;
}