<!-- <div class="list-header">
  <h2>Employees</h2>
  <button
    mat-flat-button
    color="primary"
    matTooltip="Add new employee"
    [routerLink]="'create'"
  >
    <mat-icon class="icon-18">add</mat-icon>
  </button>
</div> -->
<!-- <app-employee-search-form
  (onSearch$)="search($event)"
  (onClear$)="clear()"
></app-employee-search-form> -->
<app-data-grid
  [columnConfig]="config"
  [rowData]="data"
  [totalRecord]="total"
  [defaultPageSize]="defaultPageSize"
  (pageChange$)="pageChange($event)"
></app-data-grid>
