<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Business Cambodia</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="router-link-active" routerLink="positions">Positions</a>
      <a mat-list-item routerLinkActive="router-link-active" routerLink="departments">Departments</a>
      <a mat-list-item routerLinkActive="router-link-active" routerLink="dependent-types">Dependent Types</a>
      <a mat-list-item routerLinkActive="router-link-active" routerLink="working-calendar">Working Calendar</a>
      <a mat-list-item routerLinkActive="router-link-active" routerLink="holiday-groups">Holiday Group</a>
      <a mat-list-item routerLinkActive="router-link-active" routerLink="holidays">Holiday</a>
      <a mat-list-item routerLinkActive="router-link-active" routerLink="employees">Employees</a>
      <h2>Leave Management</h2>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <a mat-list-item routerLinkActive="router-link-active" routerLink="leave-types">Leave Types</a>
        <a mat-list-item routerLinkActive="router-link-active" routerLink="leave-request">Leave Request</a>
        <a mat-list-item routerLinkActive="router-link-active" routerLink="employee-leave">Employee Leave</a>
      </mat-nav-list>
      <h2>User Management</h2>
      <mat-nav-list>
        <a mat-list-item routerLinkActive="router-link-active" routerLink="roles">Roles</a>
      </mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-top">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>HRMS</span>
      <button mat-icon-button [matMenuTriggerFor]="menuRef">
          <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menuRef="matMenu">
          <button mat-menu-item>
            <mat-icon>account_circle</mat-icon> Profile
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon> Logout
          </button>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
