<div class="list-header">
  <h2>Notifications Settings</h2>
</div>

<div class="notification-table">
  <div class="notification-table__head">
    <div class="notification-table__head__item">Type</div>
    <div class="notification-table__head__item">Email</div>
    <div class="notification-table__head__item">Web</div>
    <div class="notification-table__head__item">Mobile</div>
    <div class="notification-table__head__item">Telegram</div>
  </div>
  <div class="notification-table__body">
    <div class="notification-table__row">
      <div class="notification-table__body__item">Leave Request</div>
      <div class="notification-table__body__item">
        <div>
            <div>
            <mat-icon>check</mat-icon>
        </div>
        </div>
      </div>
      <div class="notification-table__body__item">
        <div>
            <mat-icon>check</mat-icon>
        </div>
      </div>
      <div class="notification-table__body__item">
        <div>
            <mat-icon>check</mat-icon>
        </div>
      </div>
      <div class="notification-table__body__item">
        <div>
            <mat-icon>check</mat-icon>
        </div>
      </div>
    </div>
    <div class="notification-table__row">
      <div class="notification-table__body__item">Annountments</div>
      <div class="notification-table__body__item">
        <div>
            <mat-icon>check</mat-icon>
        </div>
      </div>
      <div class="notification-table__body__item">
        <div>
            <mat-icon>check</mat-icon>
        </div>
      </div>
      <div class="notification-table__body__item">
        <div>
            <mat-icon>check</mat-icon>
        </div>
      </div>
      <div class="notification-table__body__item">
        <div>
            <mat-icon>check</mat-icon>
        </div>
      </div>
    </div>
    <div class="notification-table__row">
      <div class="notification-table__body__item">Employee's Birthday</div>
      <div class="notification-table__body__item">
        <div>
            <mat-icon>close</mat-icon>
        </div>
      </div>
      <div class="notification-table__body__item">
        <div>
            <mat-icon>check</mat-icon>
        </div>
      </div>
      <div class="notification-table__body__item">
        <div>
            <mat-icon>check</mat-icon>
        </div>
      </div>
      <div class="notification-table__body__item">
        <div>
            <mat-icon>close</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
