<div class="list-header">
  <app-breadcrumb [config]="breadcrumbConfig"></app-breadcrumb>
  <button
    mat-flat-button
    color="primary"
    matTooltip="Add new working"
    routerLink="create"
  >
    <mat-icon class="icon-18">add</mat-icon>
  </button>
</div>
<mat-form-field class="full-width">
  <mat-label>Department</mat-label>
  <mat-select placeholder="Department" [formControl]="departmentCtl">
    <mat-option value="All">All</mat-option>
    <mat-option
      *ngFor="let department of department$ | async"
      [value]="department.id"
      >{{ department.name }}</mat-option
    >
  </mat-select>
</mat-form-field>
<app-data-grid
  [columnConfig]="config"
  [rowData]="data"
  [totalRecord]="total"
  [defaultPageSize]="defaultPageSize"
  (pageChange$)="pageChange($event)"
></app-data-grid>
