input[type='file'] {
  visibility: hidden;
}

.tab-container {
  padding: 1px;
}

.personal-information {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-top: 1rem;
}

.profile {
  display: flex;
  justify-content: center;
}

figure,
img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  background-color: grey;
}

.emergency-contact {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.mat-card-header {
  justify-content: center;
}
