form {
    display: flex;
    flex-direction: column;

    mat-slide-toggle {
        margin-bottom: 1rem;
    }

    .actions {
        display: flex;
        gap: 0.5rem;
    }
}

.item {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    &.is-small {
        flex-direction: column;
        gap: 0;
    }
}