<div class="column-wrapper">
  <app-breadcrumb [config]="breadcrumbConfig"></app-breadcrumb>
  <form
    class="form-container mat-elevation-z2"
    [formGroup]="departmentForm"
    (ngSubmit)="submitForm()"
  >
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        formControlName="name"
        autocomplete="off"
        type="text"
        required
        placeholder="Name"
      />
    </mat-form-field>
    <app-employee-select
      formControlName="managerId"
      placeholder="Manager"
    ></app-employee-select>
    <mat-slide-toggle formControlName="isActive" color="primary">
      {{ departmentForm.get("isActive")?.value | activeSlider }}
    </mat-slide-toggle>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        placeholder="Description"
        rows="5"
      ></textarea>
    </mat-form-field>

    <mat-divider style="margin-bottom: 1rem"></mat-divider>

    <div class="position-wrapper full-width">
      <div class="mat-h2">Position</div>
      <button
        mat-flat-button
        type="button"
        color="primary"
        matTooltip="Add new position"
        (click)="openPositionForm()"
      >
        <mat-icon class="icon-18">add</mat-icon>
      </button>
    </div>
    <app-positions
      [positions]="department?.positions || []"
      (edit$)="openPositionForm($event)"
    ></app-positions>
    <br />

    <div class="actions">
      <button
        mat-flat-button
        type="submit"
        color="primary"
        matTooltip="Save"
        [disabled]="departmentForm.invalid"
      >
        Save
      </button>
      <button
        mat-button
        type="button"
        matTooltip="Cancel"
        [routerLink]="'/departments'"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
