<mat-form-field class="full-width" appearance="outline">
  <mat-label>{{ placeholder }}</mat-label>
  <mat-select
    msInfiniteScroll
    [complete]="offset === total"
    [debounceTime]="100"
    [placeholder]="placeholder"
    (infiniteScroll)="getEmployees()"
    [(ngModel)]="value"
  >
    <mat-option value="All" selected>All</mat-option>
    <mat-option
      *ngFor="let employee of employees; trackBy: trackEmployee"
      [value]="employee.id"
      >{{ employee.name }}</mat-option
    >
  </mat-select>
  <mat-error *ngIf="ngControl?.control?.hasError('required')"
    >Employee is required.</mat-error
  >
</mat-form-field>
