.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.branding {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  height: 56px;
  width: 100%;
  z-index: 1000;
  background: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, .12);

  .logo {
    width: 56px;
    height: 56px;
  }

  h2 {
    margin-bottom: 0;
    color: #ED1E26;
  }
}

mat-sidenav-content .content {
  padding: 1rem;
}

.mat-icon-button.img-button img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.content {
  height: calc(100% - 88px);
}