<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <img
      src="../../../../assets/images/logo_with_name.png"
      width="100%"
      alt="Company Logo"
    />
    <mat-divider></mat-divider>
    <app-menu></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (toggle)="drawer.toggle()"></app-header>
    <!-- Add Content Here -->
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
