<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <perfect-scrollbar>
      <div class="branding">
        <img
          class="logo"
          src="../../../../assets/images/bird_logo.png"
          alt="Company Logo"
        />
        <h2>Business Cambodia</h2>
      </div>
      <app-menu></app-menu>
    </perfect-scrollbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (toggle)="drawer.toggle()"></app-header>
    <!-- Add Content Here -->
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
