$primary-color: #3F51B5;

.nav {
  padding-top: 0;
  padding: 0 1rem;
}

.dropdown-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  span {
    font-size: 18px;
    font-weight: 500;
  }

}

.nav-item {
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: $primary-color;
    color: #FFFFFF;
  }

  .item-content {
    display: flex;
    gap: .7rem !important;
    align-items: center;
  }
}

.router-link-active {
  background-color: $primary-color !important;
  color: #FFFFFF !important;
  margin: 1px 0;
}

@media (hover: none) {
  .nav-item:not(.router-link-active):hover {
    color: black !important;
  }
}