<mat-nav-list *ngFor="let page of pages">
  <ng-container *ngIf="page.type === 'Dropdown'; else linkTemplate">
    <h3 class="group">{{ page.name }}</h3>
    <mat-divider></mat-divider>
    <a
      mat-list-item
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]={exact:true}
      [routerLink]="childPage.url"
      *ngFor="let childPage of page.children"
      >{{ childPage.name }}</a
    >
  </ng-container>
  <ng-template #linkTemplate>
    <a
      mat-list-item
      [routerLinkActiveOptions]={exact:true}
      routerLinkActive="router-link-active"
      [routerLink]="page.url"
      >{{ page.name }}</a
    >
  </ng-template>
</mat-nav-list>
