.leave-view-wrapper {
  padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  h2 {
    margin: 0;
  }
}

.leave-view {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;

  &.is-small {
    flex-direction: column;
    gap: 0;
    padding-bottom: 0;
  }
}

table {
  line-height: 2.5;
  font-size: 16px;

  th {
    letter-spacing: 1px;
    text-align: left;
    vertical-align: top;
    width: 200px;
  }

  td {
    vertical-align: top;
  }
}

mat-divider {
  padding-bottom: 1rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
}