<form [formGroup]="educationForm">
  <div class="item" [ngClass]="{ 'is-small': responsive.isSmall }">
    <mat-form-field class="full-width">
      <mat-label>Major</mat-label>
      <input
        appFocus
        matInput
        formControlName="major"
        autocomplete="off"
        type="text"
        required
        placeholder="Major"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>University / College / School</mat-label>
      <input
        matInput
        formControlName="schoolName"
        autocomplete="off"
        type="text"
        required
        placeholder="University / College / School"
      />
    </mat-form-field>
  </div>

  <div class="item" [ngClass]="{ 'is-small': responsive.isSmall }">
    <mat-form-field class="full-width">
      <mat-label>From Date</mat-label>
      <input
        matInput
        [matDatepicker]="fromDatePicker"
        placeholder="From Date"
        formControlName="fromDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="fromDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #fromDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>To Date</mat-label>
      <input
        matInput
        [matDatepicker]="toDatePicker"
        placeholder="To Date"
        formControlName="toDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="toDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #toDatePicker></mat-datepicker>
    </mat-form-field>
  </div>

  <mat-form-field class="full-width">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      formControlName="description"
      placeholder="Description"
    ></textarea>
  </mat-form-field>
</form>
