<form [formGroup]="positionForm" (ngSubmit)="submitForm()">
  <mat-form-field>
    <mat-label>Position</mat-label>
    <input
      matInput
      formControlName="position"
      autocomplete="off"
      type="text"
      required
      placeholder="Position"
    />
  </mat-form-field>
  <mat-slide-toggle formControlName="isActive" color="primary">
    {{ positionForm.get("isActive")?.value | activeSlider }}
  </mat-slide-toggle>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea
      matInput
      formControlName="description"
      placeholder="Description"
      rows="15"
    ></textarea>
  </mat-form-field>

  <div class="actions">
    <button
      mat-flat-button
      type="submit"
      color="primary"
      matTooltip="Save"
      [disabled]="positionForm.invalid"
    >
      Save
    </button>
    <button
      mat-button
      type="button"
      matTooltip="Cancel"
      [routerLink]="'/positions'"
    >
      Cancel
    </button>
  </div>
</form>
